label, input {
    display: block;
    width: 90%;
}

label {
    margin-top: 20px;
}

input[type="text"] {

}

input[type="text-area"] {
    min-height: 300px

}

input[type="submit"] {
    margin-top: 20px;
    width: auto;
}