{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    <ul>
        {% for product in products %}

            <li><a href="{% url 'product' product.pk %}">{{ product.name }}</a>, {{ product.description }}, {{ product.price }},

                {% if product.img.url != None %}
                    <img src="{{ product.img.url }}" alt="Product Image"></li>
                {% else %}
                    </li>
                {% endif %}
            <form action="{% url 'delete' product.id %}">
                <input type="submit" value="Delete">
            </form>

            <p>------------------------------</p>

        {% empty %}

            <p>Nothing</p>

        {% endfor %}

    </ul>



{% endblock %}